
.carousel-inner img{
	width: 100%;
	max-height: 500px;
	border-radius: 8px;
	opacity: 0.9;
}

.img-content{
	max-width: 25%;
	max-height: 25%;
	border-radius: 20px;
	margin: 10px 0;
	
}
.img-religion{
	max-width: auto;
	height: 160px;
	border-radius: 10px;
	margin-top: 5px;

	}
/*.content-heading{
	margin: 10px auto;
	display: block;
	width: auto;
	max-height: 500px; 
	padding: auto;
}*/

.left{
	float: left;
}
	
.right{
	float:right;
}
.content-para{
	max-width: 60%;
	margin: 10px auto;
	border-left: 3px solid darkgrey;
	padding-left: 5px;
	color:  #37120a;
	text-align: center;

}

.row h2{
	margin-right: 5px;
	font-family: Source Sans Pro;
	text-transform: uppercase;
	color:  #37120a
}

.center{
	text-align: center;
}